@{
    ViewBag.Title = "SendPassword";
}

<h2>Glömt lösenord</h2>

<p style="margin-top: 30px">
    <span class="success_msg">@Html.Raw(ViewBag.successmsg)</span>
    <span class="error_msg">@ViewBag.errormsg</span>
</p>

<fieldset>
    <legend>Skicka nytt lösenord</legend>

    <p>
        Obs! Användarnamnet är skiftlägeskänsligt.
    </p>

    <form method="post" class="form-horizontal" action="~/Default/SendPassword">
        <div class="form-group">
            <label for="userinput" class="control-label col-md-2" style="text-align: left">Användarnamn:</label>
            <div class="col-md-10">
                <input type="text" name="userinput" id="userinput" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Skicka" class="btn btn-default" />
            </div>
        </div>
    </form>

</fieldset>

<hr>